{% extends "Bilans_table.html" %}

{% block title %}Bilans{% endblock %}

{% block footer %}
<script src="/dist/chartist.min.js"></script>
<script>
		
		var przychody = {{sum_incomes|json_encode}};
		var wydatki = {{sum_expenses|json_encode}};

		var data = {
		  series: [przychody, wydatki]
		};

		var sum = function(a, b) { return a + b };

		new Chartist.Pie('.ct-chart', data, {
		labelInterpolationFnc: function(value) {
		return Math.round(value / data.series.reduce(sum) * 100) + '%';
  }
});

</script>
	
{% endblock %}



{% block body %}

<main>
			
				<div class="container">
					
					<div class="row">
					
						<div class="zawartosc2">
							<fieldset class="ramka">
								<legend class="scheduler-border bilans">Bilans </legend>
								<div class="zakres"></div>
							
								<div class="row">
								
										<div class="wydatek col-sm-12 col-lg-6">

												<fieldset class="scheduler-border">
													<legend class="scheduler-border legenda">Wydatki</legend>
													
															
															<table>
															<tr>
															<td class="category">Kategoria wydatku </td><td class="category">Koszt</td>
															</tr>
																		{% for key,value in array_expense %}
																				
																					<tr>
																					<td class="key">{{key}}</td><td class="key">{{value}} zł</td>
																					</tr>
																			
																		{% endfor %}
																				
															<tr>
															<td>Suma</td> <td>{{sum_expenses}} zł</td>
															</tr>
															</table>
													
													

												</fieldset>
											
										</div>
										
										<div class="col-sm-12 col-lg-6">
												<fieldset class="scheduler-border">
													<legend class="scheduler-border legenda">Przychody</legend>
														<table>
															<tr>
															<td class="category">Kategoria przychodu </td><td class="category">Koszt</td>
															</tr>
																		{% for key,value in array %}
																				
																					<tr>
																					<td class="key">{{key}}</td><td class="key">{{value}} zł</td>
																					</tr>
																			
																		{% endfor %}
																				
															<tr>
															<td>Suma</td> <td>{{sum_incomes}} zł</td>
															</tr>
														</table>

													</fieldset>
													
											
										</div>
										
										
								</div>
								<div class="row">
									<div class="col-sm-12 col-lg-6 info_dla_uzytkownika">
													<fieldset class="scheduler-border">
													<legend class="scheduler-border legenda"> Podsumowanie </legend>
																<h2 class="saldo"> Saldo:</h2>
																<div id="saldo">
																		{{allBilans}}
																</div>
													<div id="informacja">
													{{info}}
													</div>
													</fieldset>
									</div>
								</div>
								<div class="row">
										<div class="wykres col-12">
										Wykres kołowy wydatków i&nbsp;przychodów
										</div>
								</div>
										<div class="row">
															<div class="ct-chart ct-golden-section col-12 col-md-6" id="chart1"></div>
																<div class="col-12 col-md-6">
																	<fieldset class="scheduler-border">
																		<legend class="scheduler-border legenda"> Legenda </legend>
																		<div class="row justify-content-center">
																				<div class="col-auto ">
																					<img src="/img/kolor1a.png" class="square"/>
																				</div>
																				<div class="col-auto legenda_koloru">
																					Przychód
																				</div>
																		</div>
																		<div class="row justify-content-center">
																				<div class="col-auto ">
																					<img src="/img/kolor2a.png" class="square"/>
																				</div>
																				<div class="col-auto legenda_koloru bla">
																					Wydatek
																				</div>
																		</div>
																	
																	</fieldset>
																	
																
															</div>
										</div>
						</div>
							</fieldset>
							</div>
					
					</div>


			</main>
<div class="container-fluid p-0 mt-4">
				<footer class="page-footer font-small blue fixed-bottom">
							<div class="stopka_menu">
							 <p>Wszelkie prawa zastrzeżone. Copyright &copy; 2020 All Rights Reserved </p>
							</div>
				</footer>
			</div>

{% endblock %}