.inpRejestracja
{
	width: 360px;
	height:45px;
	background-color:#13acf5;
	font-size:15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-left:100px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-align:center;
}

.inpRejestracja:focus
{
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.inpRejestracja:hover
{
	color:white;
	text-decoration: none;
	background-color:#117fb4;
}
.info2
{
	color:#1c525e !important;
	font-size:28px;
	margin-top: 10px;
	letter-spacing: 3px;
	margin-left:50px
}
.napis2
{
	color:#1c525e !important;
	font-size: 35px;
	letter-spacing: 3px;
	font-weight:bold;
	margin-left:50px;
}
@media(max-width:576px)
{
.inpRejestracja
{
	width: 280px !Important;
	margin-left:80px !Important;
}
.log_succes
{
	width: 300px !Important;
	margin-left:30px !Important;
}
.napis2
{
	font-size: 24px;
	margin-left:30px;

}
.info2
{
	
	font-size:20px;
	margin-left:30px;
}
}
@media(min-width:576px) and (max-width:768px)
{
	.inpRejestracja
{
	width: 280px !Important;
	margin-left:100px !Important;
}
.log_succes
{
	width: 280px !Important;
	margin-left:40px !Important;
}
.napis2
{
	font-size: 28px;
	margin-left:40px;

}
.info2
{
	
	font-size:24px;
	margin-left:40px;
}
}
@media(min-width:768px) and (max-width:991px)
{
.inpRejestracja
{
	width: 520px !Important;
	margin-left:150px !Important;
	font-size:30px;
	height:60px;
}
.napis2
{
	font-size: 30px;
	margin-left:80px;

}
.info2
{
	
	font-size:26px;
	margin-left:80px;
}
.log_succes
{
	width: 340px !Important;
	margin-left:80px !Important;
}
}
@media(min-width:991px) and (max-width:1200px)
{
.inpRejestracja
{
	width: 320px !Important;
	margin-left:80px !Important;
}
.log_succes
{
	width: 320px !Important;
	margin-left:50px !Important;
}
	.napis2
{
	font-size: 30px;
	margin-left:50px;

}
.info2
{
	
	font-size:26px;
	margin-left:50px;
}
}

.log_succes
{
	width: 360px;
	height:45px;
	background-color:#0b3c4d;
	font-size:15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-left:100px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-align:center;
}

.log_succes:focus
{
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.log_succes:hover
{
	color:white;
	text-decoration: none;
	background-color:#06242f;
}
