body
{
	margin:0 !important;
	position:relative;
}
.powitanie
{
	margin-left:auto;
	margin-right:auto;
	font-size: 40px;
	color: white;
	text-align: right;
}

h2
{
	font-size:60px;
	margin-top:0;
	margin-bottom:0;
}

.wykres
{
	margin-top:30px;
	font-size:35px;
    text-align:center;
}


.zawartosc
{
	margin-top:30px !Important;
	margin-bottom:30px !Important;
	/*width:1000px !Important;*/
	/*height:684px !Important;*/
	color:black;
	font-size:30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.formularz
{
	background-color:white !Important;
	width:700px !Important;
	padding: 10px 50px 30px 50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(234,234,234,1);
	-moz-box-shadow: 3px 3px 30px 5px rgba(234,234,234,1);
	box-shadow: 3px 3px 30px 5px rgba(234,234,234,1);
}

.obraz
{
	height:600px;
	width:405px;
	position: relative;
	z-index:1;

}
.obraz:hover {
	animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes spin {
    0%{transform: rotate(1deg);}
	25%{transform: rotate(-1deg);}
	50%{transform: rotate(1deg);}
	75%{transform: rotate(-1deg);}
	100%{transform:rotate(1deg);}
	
}
legend.scheduler-border 
{
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

fieldset
{
	border: 10px double #1c525e !Important;
	background-color:white !important;
}

legend
{
	font-size:50px !Important;
	color:#1c525e !Important;
}

legend:hover
{
	color:black !Important;
}

#komentarz
{
	resize:none;
}
input[type=submit],
input[type=reset]
{
	width:300px;
	background-color:#efefef;
	color:#666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size:20px;
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;
	
}
.login
{
	margin-left:20px;
}
input[type=text],
input[type=password],
input[type=email]
{
	width:250px;
	background-color:#efefef;
	color:#666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size:20px;
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;

	
}
.icon-user-1:before
{
	margin-left:-10px !Important;
}
.icon-lock:before
{
	margin-left:-10px !Important;
}
.icon-mail-alt:before
{
	margin-left:-10px !Important;
}
.icon-list:before
{
	margin-left:-10px !Important;
	margin-right:-10px !Important;
}

.icona
{
	margin-left:10px !Important;
	margin-right:-20px !Important;
}
.dodaj input[type=submit]
{
	width: 250px;
	background-color:#318cab;
	font-size:15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	height:40px;
}

.dodaj input[type=submit]:hover
{
	background-color:#1a6179;
}

.dodaj input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.reset
{
	width: 250px;
	background-color:#ab3b3b;
	font-size:15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-bottom:20px;
	height:40px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.reset:hover
{
	background-color:#7b2929;
	text-decoration: none;
}

.reset:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	text-decoration: none;
}
.akcept
{
	width: 250px;
	background-color:#318cab;
	font-size:15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-bottom:5px;
	height:40px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.akcept:hover
{
	background-color:#1a6179;
	text-decoration: none;
}

.akcept:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	text-decoration: none;
}

.kwota,
.data,
.opcja_1
{
	margin-left:40px !Important;
}
.opcja_2
{
	margin-left:15px !Important;
}

.kwota input[type=number]
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
	
}
input[type=text]
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
	
}

.kwota input[type=number]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.kwota input[type=text]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.data input[type=date]
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}

.data input[type=date]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.data input[type=date]
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}

.data input[type=date]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

#kategoria
{
	width: 250px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}
#kategoria:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.opcja
{
	color:#287c8f;
	font-size:30px !Important;
	text-align:center !Important;
}

.opcja:hover
{
	color:black;
}

textarea
{
	border: 3px solid #196678;
	font-size:18px !Important;
}

textarea:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

#platnosc
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}
#platnosc:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.napis
{
	margin-top:0;
	color:#1c525e;
	margin-bottom:10px;
	margin-left:10px;
}
.bilans_opcja
{
	color:#287c8f;
}

.zawartosc1
{
	margin-top:30px !Important;
	margin-bottom:30px !Important;

	color:black;
	font-size:30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.zawartosc2
{
	margin-top:30px !Important;
	margin-bottom:30px !Important;
	color:black;
	font-size:30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(234,234,234,1);
	-moz-box-shadow: 3px 3px 30px 5px rgba(234,234,234,1);
	box-shadow: 3px 3px 30px 5px rgba(234,234,234,1);
	padding:10px;
}


tr>td
{
	height:40px;
	width: 300px;
}

tr:first-child td
{
	border-bottom: 2px dotted #444444;
}

tr:last-child td
{
	border-top: 2px dotted #444444;
}

.info_dla_uzytkownikow
{
	float:left;
	
}
.info_dla_uzytkownika
{
	margin-left:auto;
	margin-right:auto;
}

.saldo
{
	font-size:50px;
}

#saldo
{
	font-size:60px;
}

#informacja
{
	margin-top:15px;
	font-size:35px;
	padding:10px;
}

#odstep
{
	height:100px;
}

.active
{
	color:black;
}

.btn-secondary
{
	background-color:#ab3b3b !Important;
	border: solid 1px #ab3b3b !Important;
}

.btn-primary
{
	background-color:#318cab  !Important;
	border: solid 1px #318cab !Important;
}

.btn-secondary:hover
{
	background-color:#7b2929 !Important;
	border: solid 1px #7b2929 !Important;
}

.btn-primary:hover
{
	background-color:#1a6179  !Important;
	border: solid 1px #1a6179  !Important;
}

h5
{
	color:white !Important;
	font-size:30px !Important;
}

.modal-header {
	background-color:#0b3c4d;
	font-size:25px !Important;
	opacity:0.9 !Important;
}

.modal-header button[type=button]
{
	font-size: 50px !Important;
	color:white !Important;
	opacity:.9 !Important;
}
.modal-content
{
	 border: 1px solid rgba(11,60,77,.9) !Important;
}

.zakres
{
	font-size:45px;
	color:red;
}

.square
{
	height:20px;
	width:20px;

}
.legenda_koloru
{
	margin-bottom: 10px;
}
.legenda_koloru:hover
{
	color:#287c8f;
}
.col-1
{
	padding-right:0 !Important;
	padding-left:0 !Important;
}
@media(max-width:576px)
{
	.picture
	{
		text-align:center;
	}
	.obraz
	{
		margin-top:0;
	transform: scale(0.9);
	}
	.square
	{
	height:10px;
	width:10px;
	}
	.kwota input[type=number]
	{
		width: 250px;
		margin-left:0px;
	}
	input[type=text]
	{
		width: 250px;
		margin-left:0px;
	
	}
	.data input[type=date]
	{
		width: 250px;
		margin-left:0px;
	}
	.icon-list,
	.icon-cc-visa
	{
		margin-left:0px;
	}
	.zawartosc,
	.zawartosc1
	{
		margin-left:10px !Important;
		margin-right:10px !Important;
	}
	.zakres
	{
		font-size:20px !Important;
	}

}
@media(max-width:767px)
{
		.picture
	{
		text-align:center;
	}
	.obraz
	{
		margin-top:0;
	transform: scale(0.9);
	}
	.square
	{
	height:15px;
	width:15px;
	}
	#saldo
	{
		font-size:30px;
	}

	#informacja
	{
	margin-top:15px;
	font-size:20px;
	}
	legend
	{
		font-size:25px !Important;
		color:#1c525e !Important;
	}
	.zawartosc2
	{
		clear:both !Important;
		font-size:18px;
		margin-left:5px !Important;
		margin-right:5px !Important;
	}
	.logo
	{
		font-size: 25px !Important;
	}
	.bilans
	{
		font-size:40px !Important;
	}
	tr>td
	{
		font-size:30px !Important;
	}
	.zakres
	{
		font-size:20px !Important;
	}

}
@media(min-width:768px) and (max-width:991px)
{
	.picture
	{
		text-align:center;
	}
	.obraz
	{
		margin-top:0;
	transform: scale(0.9);
	}
	#saldo
	{
		font-size:35px;
	}

	#informacja
	{
	margin-top:15px;
	font-size:30px;
	}
	
	legend
	{
		font-size:35px !Important;
		color:#1c525e !Important;
	}
	.bilans
	{
		font-size:45px !Important;
	}
		tr>td
	{
		font-size:30px !Important;
	}
		.zakres
	{
		font-size:28px !Important;
	}
	
}
.errorTxt
{
	margin-left:0;
}
