:root {
	--rgba:rgba(234,234,234,1);
	--color-welcome:black;
	--fieldset:#1c525e;
	--option:black;
	--icon-color:#196678;
	--modal-header-color:#0b3c4d;
	--modal-footer-bgc:white;
	--tb-color:#444444;
}
[data-theme="dark"] {
	--rgba:rgba(11,60,77,1);
	--color-welcome:white;
	--fieldset:white;
	--option:#86dcf0;
	--icon-color:white;
	--modal-header-color:#0b2329;
	--modal-footer-bgc:#0b2329;
	--tb-color:white;
}
body
{
	margin:0 !important;
	position:relative;
}
.powitanie
{
	margin-left:auto;
	margin-right:auto;
	font-size: 40px;
	color: white;
	text-align: right;
}

h2
{
	font-size:60px;
	margin-top:0;
	margin-bottom:0;
}

.wykres
{
	margin-top:30px;
	font-size:35px;
    text-align:center;
}


.zawartosc
{
	
	margin-top:30px !Important;
	margin-bottom:30px !Important;
	/*width:1000px !Important;*/
	/*height:684px !Important;*/
	color:black;
	font-size:30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.formularz
{
	background-color:var(--bg-color-form) !Important;
	width:700px;
	padding: 10px 50px 30px 50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	-webkit-box-shadow: 3px 3px 30px 5px var(--rgba);
	-moz-box-shadow: 3px 3px 30px 5px var(--rgba);
	box-shadow: 3px 3px 30px 5px var(--rgba);
}

.obraz
{
	height:600px;
	width:405px;
	position: relative;
	z-index:1;

}
.obraz:hover {
	animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes spin {
    0%{transform: rotate(1deg);}
	25%{transform: rotate(-1deg);}
	50%{transform: rotate(1deg);}
	75%{transform: rotate(-1deg);}
	100%{transform:rotate(1deg);}
	
}
legend.scheduler-border 
{
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

fieldset
{
	border: 10px double var(--fieldset) !Important;
	background-color:var(--bg-color-form) !Important; 
}

legend
{
	font-size:50px !Important;
	color:var(--fieldset) !Important;
}

legend:hover
{
	color:var(--option) !Important;
}

#komentarz
{
	resize:none;
}
input[type=submit],
input[type=reset]
{
	width:300px;
	background-color:#efefef;
	color:#666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size:20px;
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;
	
}
.login
{
	margin-left:16px;
}
input[type=text],
input[type=password],
input[type=email]
{
	width:250px;
	background-color:white;
	color:#666;
	
	border-radius: 5px;
	font-size:20px;
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;
	border: 3px solid #196678;
	
}
.icon-user-1:before
{
	margin-left:-10px !Important;
}
.icon-lock:before
{
	margin-left:-10px !Important;
}
.icon-mail-alt:before
{
	margin-left:-10px !Important;
}
.icon-list:before
{
	margin-left:-10px !Important;
	margin-right:-10px !Important;
}

.icona
{
	margin-left:10px !Important;
	margin-right:-20px !Important;
}
.dodaj input[type=submit]
{
	width: 250px;
	background-color:#318cab;
	font-size:15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	height:40px;
}

.dodaj input[type=submit]:hover
{
	background-color:#1a6179;
}

.dodaj input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.reset
{
	width: 250px;
	background-color:#ab3b3b;
	font-size:15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-bottom:20px;
	height:40px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.reset:hover
{
	background-color:#7b2929;
	text-decoration: none;
}

.reset:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	text-decoration: none;
}
.akcept
{
	width: 250px;
	background-color:#318cab;
	font-size:15px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-bottom:5px;
	height:40px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.akcept:hover
{
	background-color:#1a6179;
	text-decoration: none;
}

.akcept:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	text-decoration: none;
}

.kwota,
.data,
.opcja_1
{
	margin-left:40px !Important;
}
.opcja_2
{
	margin-left:15px !Important;
}
.opcja_4
{
	margin-right: 30px;
}

.kwota input[type=number]
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
	
}
input[type=text]
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
	
}

.kwota input[type=number]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.kwota input[type=text]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.data input[type=date]
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}

.data input[type=date]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.data input[type=date]
{
	width: 300px;
	font-size:15px;
	color: black;
	background-color:white;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}

.data input[type=date]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

#kategoria,#kat
{
	width: 220px;
	font-size:15px;
	color: black;
	background-color:white;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}
#kategoria:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.kat
{
	width: 220px;
	font-size:15px;
	color: black;
	background-color:white;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}
.kat:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.option_modal
{
	color:var(--fieldset); 
	font-size:30px;
	margin-left:auto !Important;
	margin-right:auto !Important;
}

.option_modal:hover
{
	color:var(--option);
}
.opcja
{
	color:var(--fieldset); 
	font-size:30px;
	text-align:center !Important;
}

.opcja:hover
{
	color:var(--option);
}
textarea
{
	border: 3px solid #196678;
	font-size:18px !Important;
}

textarea:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

#platnosc
{
	width: 300px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}
#platnosc:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}

.napis
{
	margin-top:0;
	color:var(--fieldset) ;
	margin-bottom:10px;
	margin-left:10px;
	font-weight:bold;
}
.bilans_opcja
{
	color:var(--fieldset);
}

.zawartosc1
{
	margin-top:30px !Important;
	margin-bottom:30px !Important;

	color:black;
	font-size:30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.zawartosc2
{
	margin-top:30px !Important;
	margin-bottom:30px !Important;
	color:var(--color-welcome);
	font-size:30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color:var(--bg-color-form) !Important;
	-webkit-box-shadow: 3px 3px 30px 5px var(--rgba);
	-moz-box-shadow: 3px 3px 30px 5px var(--rgba);
	box-shadow: 3px 3px 30px 5px var(--rgba);
	padding:10px;
}

tr>td
{
	height:40px;
	width: 300px;
}

tr:first-child td
{
	border-bottom: 2px dotted var(--tb-color);
}

tr:last-child td
{
	border-top: 2px dotted var(--tb-color);
}

.info_dla_uzytkownikow
{
	float:left;
	
}
.info_dla_uzytkownika
{
	margin-left:auto;
	margin-right:auto;
}

.saldo
{
	font-size:50px;
}

#saldo
{
	font-size:60px;
}

#informacja
{
	margin-top:15px;
	font-size:35px;
	padding:10px;
}

#odstep
{
	height:100px;
}

.active
{
	color:black;
}

.btn-secondary
{
	background-color:#ab3b3b !Important;
	border: solid 1px #ab3b3b !Important;
}

.btn-primary
{
	background-color:#318cab  !Important;
	border: solid 1px #318cab !Important;
}

.btn-secondary:hover
{
	background-color:#7b2929 !Important;
	border: solid 1px #7b2929 !Important;
}

.btn-primary:hover
{
	background-color:#1a6179  !Important;
	border: solid 1px #1a6179  !Important;
}

h5
{
	color:white !Important;
	font-size:30px !Important;
}
.modal-body{
	background-color:var(--bg-color-form);
}
.modal-header {
	background-color:var(--modal-header-color);
	font-size:25px !Important;
	opacity:0.9 !Important;
}

.modal-header button[type=button]
{
	font-size: 50px !Important;
	color:white !Important;
	opacity:.9 !Important;
}
.modal-content
{
	 border: 1px solid rgba(11,60,77,.9) !Important;
}
.modal-footer
{
	background-color:var(--modal-footer-bgc);
}
.zakres
{
	font-size:45px;
	color:var(--color-welcome);
}

.square
{
	height:20px;
	width:20px;

}
.legenda_koloru
{
	margin-bottom: 10px;
}
.legenda_koloru:hover
{
	color:#287c8f;
}
.bla
{
	margin-left:7.526px !Important;
}
.col-1
{
	padding-right:0 !Important;
	padding-left:0 !Important;
}
.category
{
	font-weight:bold;
	color:var(--color-welcome);
}
.table
{
    color:var(--color-welcome);
}
.name input[type=text]
	{
		width: 220px;
	}
.haslo input[type=password]
	{
		width: 230px;
	}
.email1 input[type=email]
{
	width: 230px;
	font-size:18px;
}
.login input[type=text]
	{
		width: 220px;
	}
.edit_text
{
	color:var(--color-welcome);
}
 .bilans_opcja input[type="radio"]
 {
     margin-right: 10px;
     vertical-align: middle;
     display: none;
 }
  .bilans_opcja input[type="checkbox"]
 {
     margin-right: 10px;
     vertical-align: middle;
     display: none;
 }
 #fourth
 {
     margin-right:0px !Important;
 }
.bilans_opcja input[type="radio"] + label:before {
  content: "";
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 4px;
  margin-right: 5px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  margin-bottom: 4px;
}
.bilans_opcja input[type="radio"]:checked + label:before {
  background-color: #318cab;
  margin-bottom: 4px;
}
.bilans_opcja input[type="checkbox"] + label:before {
  content: "";
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 4px;
  margin-right: 5px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  margin-bottom: 4px;
}
.bilans_opcja input[type="checkbox"]:checked + label:before {
  background-color: #318cab;
  margin-bottom: 4px;
}
.buttons
{
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:30px;
	text-align: center;
}
.button
{
	display:inline-block;
}
.first.btn
{
    width: 250px;
	background-color:#7bbbd1;
	border-radius: 0px;
	font-size:15px;
	height:40px;
	color: white;
	padding: 10px 10px;
	margin-top: 7px;
	border: none;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-left:5px;
}
.first:focus
{
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.first:hover
{
	color:white;
	text-decoration: none;
	background-color:#68b1ca;
}
.second.btn
{
    width: 250px;
	background-color:#55a8c3;
	border-radius: 0px;
	font-size:15px;
	height:40px;
	color: white;
	padding: 10px 10px;
	margin-top: 7px;
	border: none;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-left:5px;
}
.second:focus
{
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.second:hover
{
	color:white;
	text-decoration: none;
	background-color:#3c8eaa;
}
.third.btn
{
    width: 250px;
	background-color:#357e97;
	font-size:15px;
	border-radius: 0px;
	height:40px;
	color: white;
	padding: 10px 10px;
	margin-top: 7px;
	border: none;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-left:5px;
}
.third:focus
{
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.third:hover
{
	color:white;
	text-decoration: none;
	background-color:#285f71;
}
.forth.btn
{
    width: 250px;
	background-color:#214f5e;
	font-size:15px;
	border-radius: 0px;
	height:40px;
	color: white;
	padding: 10px 10px;
	margin-top: 7px;
	border: none;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	margin-left:5px;
}
.forth:focus
{
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
	box-shadow: 0px 0px 15px 5px rgba(28,82,94,1);
}
.forth:hover
{
	color:white;
	text-decoration: none;
	background-color:#142f39;
}
.opcja label
{
	margin-bottom:0;
}
.limit_info
{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:30px;
	margin-right:30px;
}
.limit_info_modal
{
	margin-top:10px;
	margin-bottom:10px;
}
.limit_kwota input[type=number]
{
	width: 250px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}
.nazwa input[type=text]
{
	width: 250px;
	font-size:15px;
	color: black;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	border: 3px solid #196678;
}
@media(max-width:576px)
{
	.picture
	{
		text-align:center;
	}
	.obraz
	{
		margin-top:0;
	transform: scale(0.9);
	}
	.square
	{
	height:10px;
	width:10px;
	}
	.bla
	{
	margin-left:5.526px !Important;
	}
	.kwota input[type=number]
	{
		width: 230px;
		margin-left:0px;
	}
	input[type=text]
	{
		width: 250px;
		margin-left:0px;
	}
	.name input[type=text]
	{
		width: 210px;
	}
	.data input[type=date]
	{
		width: 230px;
		margin-left:0px;
	}
	.icon-list,
	.icon-cc-visa
	{
		margin-left:0px;
	}
	.zawartosc,
	.zawartosc1
	{
		margin-left:10px !Important;
		margin-right:10px !Important;
	}
	.zakres
	{
		font-size:20px !Important;
	}
		.powitanie
	{
		text-align: center !Important;
	}
	h3
	{
		font-size:28px;
		margin-right:10px;
	}
	.bilans_opcja
	{
		font-size:24px;
	}
	.legenda
	{
		font-size:28px !Important;
	
	}
	.legenda1
	{
		font-size:27px !Important;
	
	}
	.category
	{
		font-size:25px !Important;
	}
	.key
	{
		font-size:22px !Important;
	}
	.saldo
	{
		font-size:30px;
	}
	.wykres
	{
		font-size: 25px;
	}
	#saldo
	{
		font-size:50px !Important;
		font-weight:bold;
	}
	#informacja
	{
		font-size:25px !Important;
	}
	.old
	{
		font-size: 25px;
	}
	.new
	{
		font-size: 25px;
	}
	.kat input[type=text]
	{
		width: 230px;
	}
	.opcja
	{
		font-size:22px !Important;
	}


}
@media(max-width:768px)
{
	.picture
	{
		text-align:center;
	}
	.obraz
	{
		margin-top:0;
	transform: scale(0.9);
	}
	.square
	{
	height:15px;
	width:15px;
	}
	legend
	{
		font-size:25px !Important;
		
	}
	.zawartosc2
	{
		clear:both !Important;
		font-size:18px;
		margin-left:5px !Important;
		margin-right:5px !Important;
	}
	.logo
	{
		font-size: 25px !Important;
	}
	.bilans
	{
		font-size:40px !Important;
	}
	tr>td
	{
		font-size:30px !Important;
	}
	.zakres
	{
		font-size:20px !Important;
	}
	.powitanie
	{
		text-align: center !Important;
	}
	.legenda
	{
		font-size:35px !Important;
	
	}
	#saldo
	{
		font-size:50px !Important;
		font-weight:bold;
	}
	#informacja
	{
		font-size:28px !Important;
	}
	.category
	{
		font-size:28px !Important;
	}
	.key
	{
		font-size:25px !Important;
	}
	.name input[type=text]
	{
		width: 210px;
	}
	.opcja
	{
		font-size:22px !Important;
	}
		.bla
	{
	margin-left:5px !Important;
	}

}
@media(min-width:768px) and (max-width:991px)
{
	.picture
	{
		text-align:center;
	}
	.obraz
	{
		margin-top:0;
	transform: scale(0.9);
	}
	#saldo
	{
		font-size:35px;
	}

	#informacja
	{
	margin-top:15px;
	font-size:38px;
	}
	
	legend
	{
		font-size:50px;

	}
	.bilans
	{
		font-size:45px !Important;
	}
		tr>td
	{
		font-size:30px !Important;
	}
		.zakres
	{
		font-size:34px !Important;
	}
			.powitanie
	{
		text-align: center !Important;
		font-size:55px;
	}
	.name input[type=text]
	{
		width: 300px;
		font-size:30px;
		margin-right:30px;
	}
	.formularz
	{
	    width:1000px;
	}
	.opcja
	{
	   font-size:45px; 
	}
	.kwota input[type=number],.limit_kwota input[type=number],.nazwa input[type=text]
	{
	    width: 350px;
	    font-size:30px;
	}
	.data input[type=date]
	{
	   	width: 350px;
	    font-size:30px; 
	}
	#kategoria,#kategoria_limit
	{
	    width: 320px;
	    font-size:30px; 
	}
	.dodaj input[type=submit],.reset
	{
	  width: 300px;
	  font-size: 30px;
	  height: 65px;
	}
	.napis
	{
	    font-size: 40px;
	}
	.bilans_opcja
	{
	    font-size:40px;
	}
	h5
	{
	    font-size:45px !Important;
	}
	.option_modal
	{
	    font-size:45px;
	}
    .btn-secondary, .zapisz
	{
    width: 220px;
    height: 70px;
    font-size: 35px;
	}
	.modal-dialog
	{
	    max-width: 800px !Important;
	}
	.container, .container-md, .container-sm 
	{
    max-width:900px;
    }
    .category,.key,.sum
    {
        font-size:40px !Important;
    }
    #saldo
    {
        margin-top:10px;
        font-size:60px;
    }
    .wykres
    {
        font-size:40px;
    }
    .edit_text
    {
        font-size:40px;
    }
    .haslo input[type=password] 
    {
        width: 300px;
        margin-right: 30px;
        font-size: 30px;
    }
    .email1 input[type=email]
    {
        width: 300px;
        margin-right: 30px;
        font-size: 26px;        
    }
    .akcept
    {
        width: 300px;
        font-size:30px;
        height: 60px;
        margin-bottom:15px;
    }
    .login input[type=text]
    {
	    width: 300px;
        margin-right: 30px;
        font-size: 26px;
    }
    .opcja_2
    {
        width: 300px !Important;
        font-size: 30px !Important;
        margin-right: 30px;
    }
    .opcja_3
    {
        width: 350px !Important;
        margin-right: 0px;
    }
	.opcja_4
	{
		margin-right: 25px;
	}
    input[type="radio"], input[type="checkbox"]
    {
        vertical-align:middle;
        height: 30px !Important;
        width: 30px !Important;
    }
    .bilans_opcja input[type="radio"] + label:before {
      content: "";
      /* create custom radiobutton appearance */
      display: inline-block;
      width: 25px;
      height: 25px;
      padding: 6px;
      margin-right: 5px;
      /* background-color only for content */
      background-clip: content-box;
      border: 1px solid #bbbbbb;
      background-color: #e7e6e7;
      border-radius: 50%;
    }
    .bilans_opcja input[type="radio"]:checked + label:before {
      background-color: #318cab;
    }
	
	.bilans_opcja input[type="checkbox"] + label:before {
      content: "";
      /* create custom radiobutton appearance */
      display: inline-block;
      width: 25px;
      height: 25px;
      padding: 6px;
      margin-right: 5px;
      /* background-color only for content */
      background-clip: content-box;
      border: 1px solid #bbbbbb;
      background-color: #e7e6e7;
      border-radius: 50%;
    }
    .bilans_opcja input[type="checkbox"]:checked + label:before {
      background-color: #318cab;
    }
	
	.first.btn,.second.btn,.third.btn,.forth.btn
	{
	width: 380px;
    font-size: 26px;
    height: 60px;
	}
	
}
.errorTxt
{
	margin-left:0;
}