{% extends 'Base.html' %}
{% block title %}Forgot password{% endblock %}

{% block body %}

<main>
			
			<div class="container">
				<header>
					<div style="height:40px;"></div>
				</header>
		
		
				<div class="row justify-content-around">
				
					<div class="col-sm-12 col-lg-5">
						<img src="/img/logo.png" class="logotyp" />
					</div>
						<div class="col-sm-12 col-lg-7 formularz text-left mt-5">
							<div class="row">
									<div class="napis">ZMIANA HASŁA!</div>
									<div class ="info1">
										<p>Dziękujemy!</p>
										<p>Sprawdź swój adres e-mail,aby móc korzystać z konta!</p>
									</div>
									<a href="/" class="inpRejestracja">Ok!</a>						
							</div>
						</div>
					</div>

			</div>
	
		</main>
					<div class="container-fluid p-0 mt-4">
				<footer class="page-footer font-small blue fixed-bottom">
							<div class="stopka_menu">
							 <p>Wszelkie prawa zastrzeżone. Copyright &copy; 2020 All Rights Reserved </p>
							</div>
				</footer>
			</div>

{% endblock %}