{% extends "Base_user.html" %}

{% block title %}Delete category expense{% endblock %}
{% block footer %}
	<script src="/js/app.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script>
	
$(document).ready(function()
{	

var category = 'Inne';
var kategoria = $("#kategoria").val();
$("#link").removeAttr("data-target");
if(category==kategoria)
{
$("#link").attr("data-target","#thesame");
}
else 
{
	$("#link").attr("data-target","#akcept");
}
   

$("#kategoria").on("change", function(){
    kategoria = $(this).val();
	$("#link").removeAttr("data-target");
if(category==kategoria)
{
$("#link").attr("data-target","#thesame");
}
else
{
	$("#link").attr("data-target","#akcept");
}
});

});

</script>
{% endblock %}
{% block body %}

			<main>
			
				<div class="container">
					
					<div class="row">
					
						<div class="zawartosc1 formularz">
						
								<form action="/Expenses/remove" method="post">
								
										<fieldset class="scheduler-border">
											
											<legend class="scheduler-border legenda1">Usuwanie kategorii</legend>
												
												<div class="">
													<h3 class="edit_text">Wybierz nazwę kategorii do usunięcia: </h3>
													<div>
															<i class="icon-list"></i>
															<select class="opcja_2 col-8 col-sm-12 col-md-12 col-lg-12" id="kategoria" name="wybor">
															{% for expense in category %}
																<option value="{{expense.name}}">{{expense.name}}</option>
															{% endfor %}
															</select>
													</div>
															{% for message in flash_messages %}
															<div class="error error-{{message.type}}">
															{{message.body}}
															</div>
														{% endfor %}
												</div>

												<div><a href="#" id="link" class="akcept" data-toggle="modal">Usuń</a></div>
												<div><a href="/Profile/show" class="reset" >Anuluj</a></div>

<!-- The Modal -->
												<div class="modal fade" id="akcept" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalCenterTitle"><i class="icon-warning"></i>Uwaga!</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																  <span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body text-center">
										
																	<h4 class="edit_text">Usunięcie wybranej kategorii spowoduje przeniesienie wydatków, które były wprowadzone z&nbsp;tą kategorią do kategorii Inne.<br>Zgadzasz się?</h4>
																		
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
																<button type="submit" class="btn btn-primary zapisz">Tak!</button>
															</div>
														</div>
													</div>
												</div>
										
												<div class="modal fade" id="thesame" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalCenterTitle"><i class="icon-warning"></i>Uwaga!</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																  <span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body text-center">
										
																	<h4 class="edit_text">Nie można usunąć kategorii Inne.</h4>
																		
															</div>
															<div class="modal-footer">
																<button type="submit" class="btn btn-primary zapisz">OK!</button>
															</div>
														</div>
													</div>
												</div>
										</fieldset>
								
								</form>
						
						
						</div>
					</div>
				</div>

			</main>

{% endblock %}