{% extends "Base_user.html" %}

{% block title %}Expenses add{% endblock %}

{% block footer %}
	<script src="/js/app.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script>
	
$(document).ready(function()
{	

$( "#formAddExpenses" ).validate({
  rules: {
    kwota: {
      required: true,
      min: 0
    },
	date:{
		required: true
	}
  },
  messages:{
  kwota:{
     min: "Wartość ma być nieujemna!"
  },
  date:{
	required:"Podaj datę!"
  }
  },
 errorPlacement: function(error, element) {
						if (element.attr("name") == "date") {
							error.insertAfter(".data");
						} else {
							error.insertAfter(element);
						}
					}
			});
});

</script>
	
{% endblock %}

{% block body %}

	<main>
		<div class="container">
				<div class="row no-gutter ">
					<div class="order-12 order-lg-1 col-lg-4 my-auto p-0 d-none d-lg-block">
						<div class="picture" id="picture"><img src="/img/wydatek.png" class="obraz  mt-1"></div>
					</div>
							<div class="col-lg-8 order-1 order-lg-12  zawartosc formularz" style="position: relative; z-index: 2;">
							
								<form action="/expenses/create" method="post" id="formAddExpenses">
								
										<fieldset class="scheduler-border">
											
											<legend class="scheduler-border"> Wydatek </legend>
												
												<div >
														
														<div class="opcja"> Kwota </div>
															<div class="kwota active"> <i class="icon-money"></i>  <input class=" col-md-12" type ="number"  placeholder="Kwota" onfocus="this.placeholder=''" required	onblur="this.placeholder='Kwota'" step="0.01" id="kwota" name="kwota"></div>

															
												</div>
														
												<div>
														
														<div class="opcja"> Data </div>
															<div class="data"> <i class="icon-calendar"></i><label><input class=" col-md-12" type="date" name="date" required></label></div>
										
												</div>
												
												<div>
														
														<div class="opcja"><label for="platnosc"> Sposób płatności </label></div>
														<i class="icon-cc-visa"></i>
														<select class="opcja_2 col-8 col-sm-12 col-md-12 col-lg-12" id="kategoria" name="wyborMethod">
														{% for method in payMethod %}
															<option value="{{method.name}}">{{method.name}}</option>
														{% endfor %}
														</select>
														
												</div>
												
												<div>
												
														<div class="opcja"><label for="kategoria"> Kategoria </label></div>
															<i class="icon-list"></i>
															<select class="opcja_2 col-8 col-sm-12 col-md-12 col-lg-12" id="kategoria" name="wybor">
															{% for expense in category %}
																<option value="{{expense.name}}">{{expense.name}}</option>
															{% endfor %}
															</select>
													
												</div>
												
												<div>	
													
													<div class="Komentarz">
															
															<div class="opcja"><label for="komentarz">Komentarz</label></div>
															<textarea class="col-10" name="komentarz" id="komentarz" rows="4" cols="80"></textarea>
															
													</div>
							

												</div>
											
												<div class="dodaj"><input type = "submit" value="Dodaj"></div>
												<a href="/Profile/show" class="reset">Anuluj</a>
														
											
												
										
										</fieldset>
								
								</form>
							
							</div>
				</div>



				
		</div>
				
	</main>

{% endblock %}