{% extends "Base_user.html" %}

{% block title %}Info expense{% endblock %}



{% block body %}

<main>
			
				<div class="container">
					
				<div class="row">
					
					<div class="zawartosc formularz">
						
								
								
										<fieldset class="scheduler-border">
											
											<legend class="scheduler-border legenda">Informacja</legend>
												
												<div cless="col-10 col-md-8 col-lg-6 col-xl-5 formularz text-center mt-5">
													
													<h3 class="edit_text">Nie ma żadnego wpisu w wydatkach!</h3>
											
												
												<div><a href="/Profile/show" class="akcept">Ok!</a></div>
												</div>
										</fieldset>

					</div>
				</div>

			</main>
{% endblock %}